.imageContainer{
    margin-top:20px;
   
}

img{
   
  max-width: 100%;
  height:auto;
}

h3{
   color: #2F4571;
   font-weight: bolder;
   text-align: center;
   padding-top:1%;
   padding-bottom:1%;
}